[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
python-dotenv = "==0.17.0"
pillow = "==8.2.0"

[dev-packages]
flake8 = "==3.9.0"
mypy = "==0.812"
pytest = "==6.2.2"
black = "==20.8b1"
pytest-cov = "==2.11.1"
coverage = "==5.5"
sphinx = "==3.5.3"

[requires]
python_version = "3.6"

[scripts]
v = "python --version"
start = "mmimage"
ut = "py.test -v --capture=no --cov-config .coveragerc --cov=mmimage ."
lint = "flake8 --max-line-length=100 --ignore=E203,W503 mmimage"
doc = "./doc.sh"
